<h2>
  Your <strong>Right to Know</strong>
</h2>
<p><% _('Everyone has the <strong>right</strong> under the Hong Kong Code of Access to Information to ask for and receive access to information held by government departments and agencies. The more we find out about how government works, the better able we are to make suggestions to improve the things that are done badly, and to celebrate the things that are done well. To promote this openness and accountability, <strong>under the Code on Access to Information they have to respond</strong> within 10 days. <a href="<%= help_about_url %>">Find out more.</a>') %></p>
