<h2>
  Your <strong>Right to Know</strong>
</h2>
<p>Everyone has the right under the Code of Access to Information to ask for and receive access to information held by the Hong Kong government. <strong>Under the Code on Access to Information, they have to respond</strong>. <a href="<%= help_about_url %>">Find out more.</a></p>
