<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="introduction">Introduction to <%= site_name %> <a href="#introduction">#</a> </h1>
  <p>Everyone has the right under the Code of Access to Information to ask for and receive access to information held by the Hong Kong government. <a class="target-new" href="http://www.access.gov.hk">Read more about the Code on Access to Information here</a>.
  </p>
  <p>accessinfo.hk aims to make requesting for information under the Hong Kong government's <a href="http://www.access.gov.hk">Code on Access to Information</a> easier, more transparent, and hopefully fairer by publishing Access to Information requests and replies so that others don't have to ask for the same information again. These can then be scrutinized by the public, especially when these are unfair.
  </p>
  <p>Try <a href="/select_authority">making a request now</a>, or <a href="/list/successful">see which requests have already been successfully made</a> to understand the process better. If you want more information about how to make a request, <a href="/help/requesting">please read this</a>.
  </p>
</div>


