<% @title = "Help out" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
 <h1>Help us!</h1>

<p>Please contact <a href="mailto:info@opendatahk.com">info@opendatahk.com</a> to discuss how to support this project financially.</p>
<p>If you would like to volunteer to help maintain opengov.hk, by helping with transation, answering users' questions, or updating the software, please join the dedicated Google Group at <a href="https://groups.google.com/forum/#!forum/opengov-hk">https://groups.google.com/forum/#!forum/opengov-hk</a>.</p>
 </div>

