<% @title = "Your privacy" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="email_address">Who gets to see my email address? <a href="#email_address">#</a> </dt>

<dd><p>We will not disclose your email address to anyone unless we are obliged to by law,
or you ask us to. This includes the public authority that you are sending a
request to.  They only get to see an email address
@<%= AlaveteliConfiguration::incoming_email_domain %> which is specific to that request.  </p>
<p>If you send a message to another user on the site, then it will reveal your
email address to them. You will be told that this is going to happen.</p>
</dd>

<dt id="nasty_spam">Will you send spam to my email address? <a href="#nasty_spam">#</a> </dt>
<dd>No. After you sign up to <%= site_name %> we will only send you emails
relating to a request you made, an email alert that you have signed up for,
or for other reasons that you specifically authorise. We will never give or
sell your email addresses to anyone else, unless we are obliged to by law, or
you ask us to.
</dd>

<dt id="public_request">Why will my name and my request appear publicly on the site? <a href="#public_request">#</a> </dt>

<dd>
<p>We publish your request on the Internet so that anybody can read it and
make use of the information that you have found. We do not normally delete
requests (<a href="#delete_requests">see below for more details</a>).
</p>

</dd>

<dt id="real_name">Can I make a request using a pseudonym? <a href="#real_name">#</a> </dt>


<dd>
<p>As far as we understand, you may use a pseudonym.</p>

<p>Be careful though: even if the authority follows this good practice, the
pseudonym will probably make it impossible for you to complain to the
Ombudsman later about the handling of your request.
</p>

<p>There are several good alternatives to using a pseudonym.</p>

<ul>
<li>Use a different form of your name.</li>
<li>Women may use their maiden name.</li>
<li>Use the name of an organisation, the name of a company, the trading name of
a company, or the trading name of a sole trader.
<li>Ask someone else to make the request on your behalf.
<li>You may, if you are really stuck, ask us to make the request on
your behalf. Please contact us with
a good reason why you cannot make the request yourself and cannot
ask a friend to. We don't have the resources to do this for everyone.
</ul>

<p>Please do not try to impersonate someone else.</p>

</dd>



<dt id="full_address">They've asked for my postal address! <a href="#full_address">#</a> </dt>

<dd>
<p>If a public authority asks you for your full, physical address, reply to them saying
that the email address you are using is sufficient.
</p>


<p>The Guidelines state that</p>
<blockquote>
 If the requestor requests 
information to be scanned or converted into PDF or JPE format and burned into 
CD-ROM/DVD-ROM, etc., departments should accede to the request where possible.  
</blockquote>
</dd>


<dt id="public_servant_takedown">I&rsquo;m a public servant - can you take down personal information about me? <a href="#public_servant_takedown">#</a> </dt>

<dd>

<p>Whilst we have a general presumption that more openness is better, we will
consider requests to remove the names of public servants when it seems unlikely
that the public interest will be harmed by doing so.</p>

<p>This means that:
    <ul>
        <li>If you are a decision maker of any seniority, or if you are responding to
a request, we will not normally remove your details from documents and
emails sent by a public body. Accountability of decision-making is at the heart
of good government.</li>
        <li>If you hold a junior, non-decision making post we will consider requests to
remove your details. Removing these details is difficult for our volunteers to
do, so please let us know why this really matters to you. If we agree to remove
your details we will take reasonable steps to do so but in some cases may not
be able to for technical reasons.</li>
    </ul>
</p>
</dd>



</dl>

<p><strong>Learn more</strong> from the help for <a href="/help/officers">Access to Information officers</a> --&gt;

<div id="hash_link_padding"></div>


</div>
